{{!-- <!-- Message --> --}}
  
      <div class="flex items-start px-6 py-2 text-sm hover-target hover:bg-grey-100 message" role="listitem">
        <figure class="w-10 h-10 rounded overflow-hidden mr-3">
          <img class="message__user-avatar" src="https://secure.gravatar.com/avatar/e996e05a45da6208ce3c2e9fd8910b52?s=200"
            alt="">
        </figure>
  
        <div class="flex-1">
          <h5 class="text-sm">
            <a href="#" class="message__user-name text-black font-bold no-underline hover:underline">
             {{@name}}
            </a>
            <span class="sr-only">at</span>
            <time class="message__timestamp text-grey-800 text-xs font-normal">
              Apr 21, 2019 12:21.38 PM
            </time>
          </h5>
  
          <p class="message__body text-black leading-normal">
            Would you like to join my professional network?
          </p>
        </div>
  
        <button
          class="message__delete-button border-transparent hover:border-red-300 show-on-hover hover:bg-red-100 border-1 rounded mb-1 pl-3 pr-2 py-1"
          aria-label="delete message">
          🗑
        </button>
      </div>
  
      <div class="flex items-start px-6 py-2 text-sm hover-target hover:bg-grey-100 message" role="listitem">
        <figure class="w-10 h-10 rounded overflow-hidden mr-3">
          <img class="message__user-avatar"
            src="https://en.gravatar.com/userimage/4584631/86f74019598950f6efd7b1b8e493259a.jpeg" alt="">
        </figure>
  
        <div class="flex-1">
          <h5 class="text-sm">
            <a href="#" class="message__user-name text-black font-bold no-underline hover:underline">
              Mike North
            </a>
            <span class="sr-only">at</span>
            <time class="message__timestamp text-grey-800 text-xs font-normal">
              Apr 21, 2019 12:23.4 PM
            </time>
          </h5>
  
          <p class="message__body text-black leading-normal">
            Hello developer, I looked at your profile and am impressed by your 14
            years of COBOL experience. Are you happy in your current role?
          </p>
        </div>
  
        <button
          class="message__delete-button border-transparent hover:border-red-300 show-on-hover hover:bg-red-100 border-1 rounded mb-1 pl-3 pr-2 py-1"
          aria-label="delete message">
          🗑
        </button>
      </div>
      
  
   

  